html {
    font-family: "CoFo Sans";
    @media only screen and (max-width: 480px) {  
        font-size: calc(100vw / 360 * 10);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}